header {
    background-color: orangered;
    padding: 20px;
}
a:visited {
  color: lightgrey;
}
a:link {
  color: white;
}
a:hover {
  color: rgb(0, 255, 76);
}
.headline{
  color: darkgreen;
}

.griddy {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(16, 16, 17);
  padding: 0px;
}

.grid-item {
  padding: 10px;
}
.list-link{
  padding: 40px;
}
.picture-properties{
  width: 200px;
  height: 200px;
  padding: 0px;
}
.rating{
  color: white;
  padding: 3px;
}
.foot{
  background-color: lightgreen;
  padding: 30px;
}

.row1{
  background-color: lightblue;
}